@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>INT422 Assignment 8</h1>
    <p class="lead">This assignment is a comprehensive exercise on data associations, claims and security. Below is the azure web website for this application</p>
    <p><a href="http://ssjeon-2017a8.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Azure Link &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Assignment 8</h2>
        <p>Click below for the assignment instructions.</p>
        <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment8.html/" target="_blank" class="btn btn-primary btn-lg">Assignment 8 Instructions &raquo;</a></p>
        <p>This template also includes graceful error-handling. </p>
    </div>
    <div class="col-md-4">
        <h2>About...</h2>
        <p>This assignment focuses on claims, security and data associations.</p>
    </div>
</div>